<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns="http://www.springframework.org/schema/security" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<http access-denied-page="/access_denied.jsp" use-expressions="true">

		<form-login default-target-url="/dashboard.jsp" login-page="/login.jsp"
			username-parameter="usernameTxt" password-parameter="passwordTxt"
			authentication-failure-url="/login.jsp?error=Invalid username/password combination" />
		<remember-me />

		<logout logout-success-url="/login_back.jsp" />

		<intercept-url pattern="/admin/loggedIn/**"
			access="hasRole('ROLE_ADMIN') and not isRememberMe()" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/dba/**" access="hasRole('ROLE_DBA')" />

		<intercept-url pattern="/login.jsp" requires-channel="http" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="mkyong" password="123456" authorities="ROLE_USER" />
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
				<user name="dba" password="dba" authorities="ROLE_DBA" />
			</user-service>
		</authentication-provider>
	</authentication-manager>



</beans:beans>
